<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.ygini.DockServiceManager</string>
	<key>KeepAlive</key>
	<true/>
	<key>Program</key>
	<string>/Library/Application Support/com.github.ygini.DockServiceManager/DockServiceManager.app/Contents/MacOS/DockServiceManager</string>
</dict>
</plist>
